csiController:
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
  tolerations:
    - operator: Exists

csiNode:
  tolerations:
    - operator: Exists

jivaOperator:
  nodeSelector:
    node-role.kubernetes.io/control-plane: ""
  tolerations:
    - operator: Exists

localpv-provisioner:
  localpv:
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
    tolerations:
      - operator: Exists

storageClass:
  name: openebs-jiva-csi
  isDefaultClass: true

defaultPolicy:
  name: openebs-jiva-policy
  replicas: 2
