apiVersion: kubekey.kubesphere.io/v1alpha2
kind: Cluster
metadata:
  name: k8s
spec:
  hosts:
  - {name: k8s-master01.cloud.lab, address: 10.200.101.191, internalAddress: 10.200.101.191, user: ubuntu}
  - {name: k8s-master02.cloud.lab, address: 10.200.101.192, internalAddress: 10.200.101.192, user: ubuntu}
  - {name: k8s-master03.cloud.lab, address: 10.200.101.193, internalAddress: 10.200.101.193, user: ubuntu}
  - {name: k8s-worker01.cloud.lab, address: 10.200.101.194, internalAddress: 10.200.101.194, user: ubuntu}
  - {name: k8s-worker02.cloud.lab, address: 10.200.101.195, internalAddress: 10.200.101.195, user: ubuntu}
  - {name: k8s-worker03.cloud.lab, address: 10.200.101.196, internalAddress: 10.200.101.196, user: ubuntu}
  - {name: k8s-worker04.cloud.lab, address: 10.200.101.197, internalAddress: 10.200.101.197, user: ubuntu}
  - {name: k8s-worker05.cloud.lab, address: 10.200.101.198, internalAddress: 10.200.101.198, user: ubuntu}
  - {name: k8s-worker06.cloud.lab, address: 10.200.101.199, internalAddress: 10.200.101.199, user: ubuntu}
  roleGroups:
    etcd:
    - k8s-master01.cloud.lab
    - k8s-master02.cloud.lab
    - k8s-master03.cloud.lab
    control-plane: 
    - k8s-master01.cloud.lab
    - k8s-master02.cloud.lab
    - k8s-master03.cloud.lab
    worker:
    - k8s-worker01.cloud.lab
    - k8s-worker02.cloud.lab
    - k8s-worker03.cloud.lab
    - k8s-worker04.cloud.lab
    - k8s-worker05.cloud.lab
    - k8s-worker06.cloud.lab
  controlPlaneEndpoint:
    ## Internal loadbalancer for apiservers 
    internalLoadbalancer: haproxy
    domain: k8s.cloud.lab
    address: ""
    port: 6443
  kubernetes:
    version: v1.24.3
    clusterName: cluster.local
    autoRenewCerts: true
    containerManager: containerd
  etcd:
    type: kubeadm
  network:
    plugin: cilium
    kubePodsCIDR: 10.233.64.0/18
    kubeServiceCIDR: 10.233.0.0/18
